*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.326);
    overflow: hidden;
    
}
img{
    height: 500px;
    position: absolute;
    transition: all linear 0.2s;
}
